<!DOCTYPE HTML>
{% load staticfiles %}

<html>

<head>
  <title>Final Project</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'CrudAssignment/css/style.css' %}" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">

      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="{%url 'CrudAssignment:index' %}">Home</a></li>
          <li><a href="{%url 'CrudAssignment:create' %}">Create</a></li>
          <li><a href="{%url 'CrudAssignment:update' %}">Update</a></li>
          <li><a href="{%url 'CrudAssignment:retrieve' %}">Retrieve</a></li>
          <li><a href="{%url 'CrudAssignment:delete' %}">Delete</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <h4 align="center"><b>DATA SCIENCE PROJECT</b></h4>
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Crud Web Application using django Framework</h3>
        <h4>Final Project</h4>

      </div>

    </div>
<br>
<br>
    {% block content%}
    {% endblock %}

  </div>
</body>
</html>
